# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Ignore NuGet packages
*.nupkg
packages/
# Uncomment if using NuGet Package Restore, which is the default in newer versions of NuGet
# **/packages/*/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore Rider IDE files
.idea/
*.sln.iml

# Ignore VS Code files
.vscode/

# Ignore other temporary files
*.log
*.vs/
.DS_Store
Thumbs.db

# Ignore files related to Azure Functions
local.settings.json

# Ignore publish profiles
PublishProfiles/

# Ignore JetBrains Rider files
.idea/
*.sln.iml
